@import url(https://fonts.googleapis.com/css?family=Epilogue:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  width: min(128.4rem, 100%);
  margin-inline: auto;
  background: url('../assets/background.png');
  color: white;
  font-family: Epilogue;
  display: flex;
  justify-content: center;
}

.cardsPlanet:nth-child(2) {
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 14.4rem;
  img {
    width: min(49rem, 90%);
  }
}