.planetCard {
  height: fit-content;
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
  align-items: center;

  p {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 1290px) {
  .planetCard {
    p {
      position: static;
    }
  }
}

#Mercúrio {
  img {
    width: 4.1rem;
  }
}

#Vênus {
  img {
    width: 10.2rem; 
  }
}

#Terra {
  img {
    width: 10.6rem; 
  }
}

#Marte {
  img {
    width: 6.6rem;
  }
}

#Júpiter {
  img {
    width: 27.2rem;
  }
}

#Saturno {
  img {
    width: 282.41px;
  }
}

#Urano {
  img {
    width: 14.4rem;
  }
}

#Netuno {
  img {
    width: 14.4rem;
  }
}